html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #6c7279;
  font-size: 14px;
  line-height: 21px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}


.page-header{
  width: 467px;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}
.page-header {

}

.page-nav {
  margin: 0 auto;
  padding: 48px 0;
}

.site-logo::first-letter {
  color: #1abc9c;
}
.site-logo {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
  list-style: none;
}
.site-logo {
float: left;
 
}
.site-logo {
  margin-left: 30px;
  
}

.site-navigation {
  float: right;
  
  margin: 0;

  padding: 0;
  font-size: 14px;
  color: rgba(26, 188, 156, 255);
  list-style: none;
}
.site-navigation li {
  float: left;
}

.site-navigation li:not(:last-child) {
  margin-right: 30px;
}
.site-navigation a {
  display: block;
  color: rgba(81, 81, 81, 255);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(26, 188, 156, 255);
}

.page-nav {
  padding: 100px;
}


/* заголовок */
.text {
  
  width: 800px;
  height: auto;
  margin: 0 auto;
  font-size: 48px;
  text-align: center;
  position: relative;
  
}

.text::after {
  content: "";
  width: 164px;
  height: 7px;
  
  background-color: #1abc9c;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

}

  /* Секції */
.team {
  width: 1170px;
  height: auto;
  margin: 0 auto;
  

}
.team {
  margin-top: 100px;
  
}
.team {
  margin-bottom: 700px;
}
  .foto {
    width: 255px;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
  }
 
.foto {
  margin-bottom: 400px;
}
.foto {
  float: left;
  width: 255px;
  margin-right: 10px;
  margin-bottom: 10px
 ;
}
.foto:nth-child(4n) {
margin-right: 0px;


}

.copy {
  width: 255px;
  height: 322px;
  background-color: #e9f0fd;
}

.but {
  float: left;
  width: 200px;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #323232;
}

.bat {
  float: left;
  width: 55px;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #8c8c8c;
}

.but {
  font-size: 18pt;
  color: rgba(255, 255, 255, 255);
  text-align: left;
}

.bat {
  font-size: 18pt;
color: rgba(255, 255, 255, 255);
text-align: center;
}
  

.but:hover,
 .but:focus {
  background-color: rgba(26, 188, 156, 255);
  cursor: pointer;
}

 .bat:hover,
 .bat:focus {
  background-color: rgba(26, 188, 156, 255);
  cursor: pointer;
} 

.icone {
  margin-bottom: 100px;
}

.team-2 {
  margin: 0;
  padding: 0;
}



.bold {
width: 600px;
height: auto;
margin: 0 auto;
font-size: 48px;
text-align: center;
position: relative;
}


.bold::after {
  content: "";
  width: 164px;
  height: 7px;
  
  background-color: #1abc9c;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

   }
/* артикли секції */
 
.foty {
  list-style: none;
  margin: 0;
  padding: 0;
}
.foty {
  margin-top: 150px;
  margin-bottom: 100px;
}

.foty {
  float: left;;
  width: 330px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
}
.linear {
  width: 300px;
  height: auto;
 
  position: relative;
}

.linear::after {
  content: "";
  width: 80px;
  height: 5px;
  margin-bottom: 50px;
  background-color: #1abc9c;
  position: absolute;
  
}
.lorem {
  margin-top: 50px;
}
.load {
  
  width: 159px;
  height: 51px;
  margin: 0;
  padding: 0;
  background-color: green;
  
}














/* .team {
  float: left;
  width: 255px;
 height: auto;
 margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.team {
  margin-bottom: 0;
} */
/* .text::after {
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
} */


/* низ колонки */
/* .las {
  margin: 0;
  padding: 0;
}
.but {
  float: left;
  width: 200px;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #323232;
}
.bat {
  float: left;
  width: 55px;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #8c8c8c;
}
.but {
  font-size: 18pt;
  color: rgba(255, 255, 255, 255);
  text-align: left;
}
.bat {
  font-size: 18pt;
color: rgba(255, 255, 255, 255);
text-align: center;
}

 .but:hover,
 .but:focus {
  background-color: rgba(26, 188, 156, 255);
  cursor: pointer;
}

 .bat:hover,
 .bat:focus {
  background-color: rgba(26, 188, 156, 255);
  cursor: pointer;
} */





