html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  color: rgba(98, 98, 98, 255);
  font-size: 14px;
  line-height: 16px;
}

img {
  display: block;
  width: 420px;
  height: 282px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.page-nav {
  padding: 76px 0;
}
.site-navigation {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  text-align: center;
  margin-bottom: 102px;
}
.site-navigation li {
  display: inline-block;
}

.site-navigation li:not(:last-child) {
  margin-right: 120px;
}

.site-navigation a {
  color: rgba(98, 98, 98, 255);
  font-weight: 90;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgb(11, 54, 247);
}

/* Артикл колонки */
.text-list {
  display: inline-block;
  list-style: none;
  width: 420px;
  margin:0 112px;

  margin-bottom: 130px;
  padding: 0;
  text-align: left;
  line-height: 24px;
}
.text-list:nth-child(2n) {
  margin: 0;
}

.task {
  line-height: 58px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.text-list h2 {
  margin-bottom: ;
  line-height: 20px;
  font-size: 30px;
}
.text-list p {
  font-size: 14px;
  margin-bottom: 124px;
}

.task-2 {
  border: 1 solid;
  margin: 80px 390px;
  padding: 18px 60px;
  width: 420px;
  cursor: pointer;
}


