$main-font-stack: "Roboto", sans-serif;
$main-font-monts: 'Montserrat', sans-serif;
$main-font-Kaushan: 'Kaushan Script', cursive;
$main-font-rob: 'Roboto-LightItalic';
$primary-white-color: #ffffff;
$primary-red-color: red;
$secondary-bg-color: rgb(149, 225, 211);
$secondary-bg:  rgba(149, 225, 211, 1);
$main-text-size: 14pt;
$primary-dark-color: #fce38a;
$secondary-bg-col: #95e1d3;
