html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* min-width: 1110px; */
  font-family: "Roboto", sans-serif;
  color: #555252;
  font-size: 14px;
  line-height: 21px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: block;
  text-decoration: none;
}



.list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.container {
  width: 1300px;
  /* height: auto; */
  margin: 0 auto;
  padding: 0 15px;
}

/* MENU */

.page-header {
  margin: 0 auto;
  padding: 0;
  height: 1000px;
  text-align: center;
  background-image: linear-gradient(
      rgba(255, 94, 98, 1),
      rgba(255, 155, 102, 0.9)
    ),
    url(..//img/icon-team/orel.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;

  /* color: #fed44c; */
}

.page-nav__site-navigation {
  min-width: 600px;
}

.site-logo {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  color: red;
}

.site-logo:hover,
.site-logo:focus {
  cursor: pointer;
}

.site-navigation {
  display: flex;
  /* flex-wrap: none; */
  justify-content: space-between;
  /* min-width: 600px; */
  /* margin: 0;
  padding: 0; */
  font-size: 14px;
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 300;
  /* position: relative; */
  /* list-style: none; */
}

.site-navigation__link {
  /* display: block; */
  color: red;
  font-weight: 700;
  /* text-decoration: none; */
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 45%;
  padding: 6px;
}

/* .site-navigation__link {
  border: 2px solid transparent;
  border-radius: 45%;
  padding: 6px;
} */

.site-navigation__link:hover {
  border: 2px solid red;
  transition: border 0.6s ease 0s;
}

.site-navigation__img {
  padding: 6px;
  cursor: pointer;
}

.heder-title {
  width: 400px;
  margin: 0 auto;
  line-height: 50px;
  padding-top: 200px;
  padding-bottom: 100px;
  font-size: 35px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}


.btn {
  
  margin: 0 auto;
  padding: 5px ;
  width: 255px;
  height: 40px;

  
  border-radius: 5px;
  border: 5px solid red;
  text-align: center;
  color: rgba(255, 255, 255, 255);
  list-style: none;
 
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}

/* SECTION */


.section {
  margin: 0 auto;
  padding: 0;
  padding-top: 136px;
  /* margin-top: 136px; */
}

.section__title {
 
  font-family: "Kaushan Script", cursive;
  margin: 0 auto;
  font-size: 24pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
}

.section__title--text {
  font-family: "Montserrat", sans-serif;
  font-size: 30pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
  margin-top: 22px;
}

.section__title--text::after {
  margin: 0 auto;
  content: "";
  width: 60px;
  height: 3px;
  background-color: red;
  display: block;
  margin-top: 47px;
}

.section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  flex: 0 0 370px;

  margin-bottom: 100px;
  padding: 0 38px;
  /* text-align: center; */
}
.features__item-title {
  margin: 0;
  text-align: left;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.features__item-text {
  /* margin: 0; */
  text-align: left;
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
}
.features__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* .features__icon::before {
    content: '';
    display: block;
    
    height: 60px;
    margin-bottom: 34px;
    background-repeat: no-repeat;
    background-position:center;
  
  } */

.features__icon--tools {
  background-image: url("../img/social-icon/IMAGE@1X.png");
  background-repeat: no-repeat;
  
}

.features__icon--line {
  background-image: url("../img/social-icon/LINE\ GRAPH@1X.png");
  
  background-repeat: no-repeat;
}

.features__icon--computer{
  background-image: url("../img/social-icon/COMPUTER\ _\ OK@1X.png");
  background-repeat: no-repeat;

}

.features__icon--book{
  background-image: url("../img/social-icon/BOOK\ 2@1X.png");
  background-repeat: no-repeat;
}

.features__icon--home {
  background-image: url("../img/social-icon/HOME@1X.png");
  background-repeat: no-repeat;
}

.features__icon--image {
  background-image: url("../img/social-icon/ALARM@1X.png");
  background-repeat: no-repeat;
}




/* .section {
  
  margin: 0 auto;
  padding: 0;
  margin-top: 100px;
  
  height: 800px;
} */

/* .features_title_team {
  font-family: "Kaushan Script", cursive;
  margin: 0 auto;
  font-size: 24pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
} */

/* .span_title_team {
  font-family: "Montserrat", sans-serif;
  font-size: 30pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
  margin-top: 22px;
} */

/* .span_title_team::after {
  margin: 0 auto;
  content: "";
  width: 60px;
  height: 3px;
  background-color: red;
  display: block;
  margin-top: 40px;
} */

.section__text {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 90px;
  font-family: "Roboto", sans-serif;
}

.section__wrapper {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
}

/* OVERLAY */

.team__wrapper {
  position: relative;
  flex: 0 0 350px;
  height: 432px;
}

.team__wrapper-button {
  margin: 0;
  padding: 0;
  width: 350px;
  height: 434px;
  
}

.link-inline {
  display: inline-block;
}

.team__button {
  
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  background-color: #fce38a;
  z-index: ;
  top: 200px;
  left: 80px;
  border: none;
  transform: translate(55px, 200px);
  /* background-repeat: no-repeat; */
  /* background-position: center;
  transition: transform 0.2s linear; */
}

.team__button-svg{
 padding-top: 8px;
 padding-left: 5px;
 
  width: 40px;
  height: 40px;
  fill: red;
}

.team__button:hover,
.team__button:focus {
  background-color: rgb(149, 225, 211);
  cursor: pointer;
}

.team__overlay {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 432px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  transition: transform 0.2s linear, opacity 0.2s linear;
}

/* .fecebook:hover,
.fecebook:focus {
  transition: 200ms linear;
  background-color: rgb(149, 225, 211);
  cursor: pointer;
}

.twitter:hover,
.twitter:focus {
  transition: 200ms linear;
  background-color: rgb(149, 225, 211);
  cursor: pointer;
}

.pat:hover,
.pat:focus {
  transition: 200ms linear;
  background-color: rgb(149, 225, 211);
  cursor: pointer;
}

.instagram:hover,
.instagram:focus {
  transition: 200ms linear;
  background-color: rgb(149, 225, 211);
  cursor: pointer;
} */

.team__wrapper:hover .team__overlay {
  display: block;
}
.team__wrapper:hover .team__overlay {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 rgba(149, 225, 211, 1);
  opacity: 1;
}

.team__wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.team__content {
  flex: 0 0 350px;
}

.team__name {
  margin: 0;
  margin-top: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14pt;
  color: rgba(51, 51, 51, 255);
}

.team__text {
  margin: 0;
  margin-top: 15px;
  text-align: center;
  font-size: 15pt;
  color: rgba(153, 153, 153, 255);
  font-family: Roboto-LightItalic;
  font-style: italic;
}

/* FOOTER */

.page-footer__text{
  font-size: 14pt;
  color: rgba(51, 51, 51, 255);
  font-family: "Montserrat", sans-serif;
}

.page-footer__span {
  color: red;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 380px;
  height: 40px;
  display: flex;
}

.wrapper__button-1 {
  width: 230px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-align: left;
  font-size: 15px;
  color: rgba(204, 204, 204, 255);
}

.wrapper__button-2 {
  width: 150px;
  background-color: #95e1d3;
  box-shadow: none;
  border: none;
  font-size: 14pt;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  border-top: 2px solid rgba(153, 153, 153, 255);
}
.page-footer {
  padding-top: 100px;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .features__icon--tools {
    background-image: url("../img/social-icon/IMAGE@2X.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .features__icon--line {
    background-image: url("../img/social-icon/LINE\ GRAPH@2X.png");
    background-repeat: no-repeat;
  }

  .features__icon--computer {
    background-image: url("../img/social-icon/COMPUTER\ _\ OK@2X.png");
    background-repeat: no-repeat;
  }

  .features__icon--book {
    background-image: url("../img/social-icon/BOOK\ 2@2X.png");
    background-repeat: no-repeat;
  }

  .features__icon--home {
    background-image: url("../img/social-icon/HOME@2X.png");
    background-repeat: no-repeat;
  }

  .features__icon--image {
    background-image: url("../img/social-icon/ALARM@2X.png");
    background-repeat: no-repeat;
  }
}
