html {
    box-sizing: border-box;
  }


  *,
*::before,
*::after {
  box-sizing: inherit;
}


body {
    min-width: 1110px;
    font-family: "Roboto", sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 21px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .container {
    width: 1110px;
    margin: 0 auto;
  }
  

  /* MENU */

  .page-header {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .page-nav {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    color: #fed44c;
  }
  

  .site-logo {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    list-style: none;
  }

  a .site-logo:hover,
a .site-logo:focus {
  cursor: pointer;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    list-style: none;
    
  }

  .site-navigation a {
    display: block;
    color: #222222;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
   
  }


  .site-navigation a:hover,
.site-navigation a:focus {
  color: #fed44c;
  cursor: pointer;
}
/* 
SECTION */
.main {
  padding-bottom: 100px;
}
.features {
    margin: 0 auto;
    padding: 0;
    padding-top: 136px;
    /* height: 618px; */
   
  }
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

  .features_title {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    font-size: 40px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    font-weight: 700;
  }


  .span_title {
    font-family: "Montserrat", sans-serif;
    font-size: 30pt;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    margin-top: 22px;
  }


  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .features-list-item {
    flex: 0 0 370px;
  
    margin-bottom: 100px;
    padding: 0 38px;
    /* text-align: center; */
  }


  .border-list {
      margin: 0 auto;
      width: 68px;
      height: 68px;
      border: 2px solid sandybrown;
      border-radius: 50%;
  }

  .features-list-item h3 {
    margin: 0;
    text-align: center;
    /* margin-left: 30px; */
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }


  .features-list-item p {
    margin: 0;
    text-align: left;
    margin-left: 30px;
    font-family: "Roboto", sans-serif;

    /* зробити абзац */
  }


  .icon-tools {
      background-image: url(..//img/Icon-Basket@1X.png);
      background-repeat: no-repeat;
      background-position: center;
      
  }



  /* Section-2 */

  /* .features-team {
    margin: 0 auto;
    padding: 0; */
    /* margin-top: 100px; */
    /* padding-top: 100px; */
    /* height: 700px;
   background-color: #222222;
   background-size: cover; */
   /* background-image: url(..//img/Map\ Image@1X\ \(1\).png); */
  /* } */


  /* .features_title_team {
    font-family: "Kaushan Script", cursive;
    margin: 0 auto;
    font-size: 24pt;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    padding-top: 100px;
  } */
  
  /* .span_title_team {
    font-family: "Montserrat", sans-serif;
    font-size: 30pt;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    margin-top: 22px;
  } */


  

  /* .user {
    margin: 0 auto;
    width: 450px;
    height: 50px;
  } */



  /* .input-form {
   
    display: flex;
    height: 312px;
    flex-wrap: wrap;
    justify-content: space-between;
  } */


  /* .form {
   
    flex: 0 0 396px;
    
    padding: 0;
    margin: 0;
    height: 210px;
    top: 300px;
    left: 250px;
    transform: translate(250px, -300px);
  } */
/* .images {

  top: 260px;
  left: 690px;
  
  transform: translate(690px, 260px)
  
  
  
} */


  /* .user-1 {
    width: 500px;
    height: 100px;
    line-height: 30px;
    margin-bottom: 20px;
  } */


  /* .user {
    margin: 0;
    padding: 0;
    width: 405px;
    height: 70px;
  } */


  /* .user input {
    padding: 10px;
  }
   */
/* 
  textarea {
    padding: 10px;
    top: 210px;
    left: 450px;
    transform: translate(450px, -210px)
  }
.submit {
  margin: 0 auto;
  padding: 20px 100px;
  top: 1800px;
  left: 300px;
  transform: translate(300px, -180px)
  
  
  
} */



.section-input {
  position: relative;
  height: 700px;
  background-color: red;
  background-size: cover;
  
 
}

.img {
  /* margin-left: 730px; */
  position: absolute;
  left: 730px;
}


.reg-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-between; */
  align-content: space-between;
  position: absolute;
  margin: 0 auto;
  width: 940px;
  height: 317px;
  background-color: green;
  top: 256px;
  left: 200px;
  transform: translate(200px, )
 }
.input {
  width: 455px;
  height: 55px;
 
  padding: 10px;
  margin:0;
 /* margin-right: 30px; */
 margin-bottom: 30px;

  
  /* outline: red; */
  
}

.input:nth-last-child(3n) {
  margin-bottom: 0;
}

.input {
  border: 1px solid red;
}

.input:focus {
  outline-color: green;
  border: none;
}


 textarea {
   width:455px ;
   height: 270;
   border: 1px solid red;
   
  

 }

 textarea:focus {
  outline-color: green;
  border: none;
 }




 button {
   position: absolute;
   top: 250px;
   left: 350px;
   width: 240px;
   height: 66px;
   padding: 10px;
   border: 1px solid red;

   
 }


 button:focus {
  outline-color: green;
  border: none;
 }