.section__title {
  font-family: $main-font-Kaushan;
  margin: 0 auto;
  font-size: 24pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
}

.section__title--text {
  font-family: $main-font-monts;
  font-size: 30pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
  margin-top: 22px;
}

.section__title--text::after {
  margin: 0 auto;
  content: '';
  width: 60px;
  height: 3px;
  background-color: $primary-red-color;
  display: block;
  margin-top: 47px;
}
