.site-logo {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $main-font-monts;
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  color: $primary-white-color;
  cursor: pointer;
}

// .site-logo:hover,
// .site-logo:focus {
//   cursor: pointer;
// }
