html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1180px;
  font-family: "Roboto", sans-serif;
  color: #555252;
  font-size: 14px;
  line-height: 21px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* MENU */

.page-header {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.page-nav {
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  color: #95e1d3;
}

.site-logo {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  /* color: rgba #95e1d3; */

  list-style: none;
}

a .site-logo:hover,
a .site-logo:focus {
  cursor: pointer;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  width: 500px;
  height: 30px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  list-style: none;
}

.site-navigation a {
  display: block;
  color: #95e1d3;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: red;
  cursor: pointer;
}

.site-navigation a:hover::after {
  /* margin: 0 auto; */
  content: "";
  border-bottom: 3px solid red;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  /* width: 50px;
    height: 3px;
    background-color: red; */
  display: block;
  transition: transform 0.2s linear;
}
/* SECTION */

.features {
  margin: 0 auto;
  padding: 0;
  margin-top: 136px;
}

.features_title {
  font-family: "Kaushan Script", cursive;
  margin: 0 auto;
  font-size: 24pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
}

.span_title {
  font-family: "Montserrat", sans-serif;
  font-size: 30pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
  margin-top: 22px;
}

.span_title::after {
  margin: 0 auto;
  content: "";
  width: 60px;
  height: 3px;
  background-color: red;
  display: block;
  margin-top: 47px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list-item {
  flex: 0 0 370px;

  margin-bottom: 100px;
  padding: 0 38px;
  /* text-align: center; */
}
.features-list-item h3 {
  margin: 0;
  text-align: left;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.features-list-item p {
  /* margin: 0; */
  text-align: left;
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
}
.features-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* .features-list-item::before {
    content: '';
    display: block;
    height: 60px;
    margin-bottom: 34px;
    background-repeat: no-repeat;
  
  } */

.icon-tools {
  background-image: url("../img/ALARM@1X.png");
  background-repeat: no-repeat;
}

.icon-line {
  background-image: url("../img/LINE\ GRAPH@1X.png");
  background-repeat: no-repeat;
}

.icon-computer {
  background-image: url("../img/COMPUTER\ _\ OK@1X.png");
  background-repeat: no-repeat;
}

.icon-book {
  background-image: url("../img/BOOK\ 2@1X.png");
  background-repeat: no-repeat;
}

.icon-home {
  background-image: url("../img/HOME@1X.png");
  background-repeat: no-repeat;
}

.icon-image {
  background-image: url("../img/IMAGE@1X.png");
  background-repeat: no-repeat;
}

.features-team {
  margin: 0 auto;
  padding: 0;
  margin-top: 100px;
  height: 800px;
 
}

.features_title_team {
  font-family: "Kaushan Script", cursive;
  margin: 0 auto;
  font-size: 24pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
}

.span_title_team {
  font-family: "Montserrat", sans-serif;
  font-size: 30pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
  margin-top: 22px;
}

.span_title_team::after {
  margin: 0 auto;
  content: "";
  width: 60px;
  height: 3px;
  background-color: red;
  display: block;
  margin-top: 40px;
}

.text {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 90px;
  font-family: "Roboto", sans-serif;
}

.features-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* width: 300px; */
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

/* OVERLAY */

.wrapper-team {
  position: relative;
  flex: 0 0 350px;
  height: 432px;
  
}

/* .img {
  position: relative;
} */

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 434px;
  background-image: linear-gradient(rgba(241, 144, 139, 0.7), rgba(242, 214, 136, 0.7));; */
 /* z-index: 1;
display: none;
} */
 .wrapper-button {
  margin: 0;
  padding: 0;
  width: 350px;
  height: 434px;
  display: inline-block;
}

.button {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  background-color: #fce38a;
  z-index: ;
  top: 200px;
  left: 80px;
  border: none;
  transform: translate(55px, 200px);
}

.fecebook {
  background-image: url(../img/facebook@1X.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s linear;
}

.twitter {
  background-image: url(..//img/twitter@1X\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s linear;
}

.pat {
  background-image: url(../img/pinterest@1X.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s linear;
}

.instagram {
  background-image: url(..//img/instagram@1X\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s linear;
}
.overlay-item {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 432px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  transition: transform 0.2s linear, opacity 0.2s linear;
}
/* .overlay-item {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 434px;
  z-index: -1;
  background-color:   rgb(149, 225, 211);
  transition-property: background-color;
  transition-duration: 200ms;
  
  background-size: cover;
  border: 6px seashell solid;

  display: none;
} */

.fecebook:hover,
.fecebook:focus {
  background-color: rgb(149, 225, 211);
  cursor: pointer;
}

.twitter:hover,
.twitter:focus {
  background-color: rgb(149, 225, 211);
  cursor: pointer;
}

.pat:hover,
.pat:focus {
  transition: 200ms linear;
  background-color: rgb(149, 225, 211);
  cursor: pointer;
}

.instagram:hover,
.instagram:focus {
  transition: 200ms linear;
  background-color: rgb(149, 225, 211);
  cursor: pointer;
}
.wrapper-team:hover .overlay {
  display: block;
}
.wrapper-team:hover .overlay-item {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 rgba(149, 225, 211, 1);
  opacity: 1;
}
/* .wrapper-team:hover .overlay-item {
  transition-property: background-color;
  transition-duration: 200ms;
  
  display: block;
  transform: translate(8px, 8px)
} */

.wrapper-team {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  /* margin-right: 28px; */
}
.img {
  flex: 0 0 350px;

}

.text-item {
  margin: 0;
  margin-top: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14pt;
  color: rgba(51, 51, 51, 255);
}

.text-item-2 {
  margin: 0;
  margin-top: 15px;
  text-align: center;
  font-size: 15pt;
  color: rgba(153, 153, 153, 255);
  font-family: Roboto-LightItalic;
  font-style: italic;
}

/* FOOTER */
/* .footer  {
  margin-top: 100px;
} */
.footer-tem {
  font-size: 14pt;
  color: rgba(51, 51, 51, 255);
  font-family: "Montserrat", sans-serif;
}

.footer-span {
  color: red;
}

.wrapper-buton {
  margin: 0;
  padding: 0;
  width: 380px;
  height: 40px;
  display: flex;
}

.button-1 {
  width: 230px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  text-align: left;
  font-size: 15px;
  color: rgba(204, 204, 204, 255);
  /* border: none; */
  /* border-top:2px gray;
 border-bottom:2px gray;
 border-left:2px gray; */
}

.button-2 {
  width: 150px;
  background-color: #95e1d3;
  box-shadow: none;
  border: none;
  font-size: 14pt;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

/* .wrapper-footer {
  display: flex;
  justify-content: space-between;
  width: 380px;
  height: 40px;
} */
/* .input {
  
  display: flex;
  width: 380px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  
}
.input {
  width: 380px;
  height: 40px;
}
input [type="text"] {
width: 230px;
height: 40px;
font-family: Roboto-LightItalic;
font-style: italic;
font-size: 15px;
color: rgba(204, 204, 204, 255);
}
.button-icon {
  background-color: red;
  border: none;
  margin: 0;
  flex: 0 0 150px;
  height: 40px;
} */

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  border-top: 2px solid rgba(153, 153, 153, 255);
  /* height: 100px; */
  
}
.footer {
  margin-top: 82px;
}
